@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f1;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #5d5a88;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//Gallery#
#gallery {
  width: 100%;
  padding: 100px 0;
  background-color: #fff;

  //gallery
  .gallery {
    text-align: center;

    //&_heading
    &_heading {
      h6 {
        font-size: 36px;
        font-weight: bold;
        line-height: normal;
        color: #5d5a88;
        span {
          color: #adabc3;
        }
      }
      p {
        padding-top: 16px;
        width: 600px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #9795b5;
      }
    }

    //&_grid
    &_grid {
      padding-top: 60px;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 28px;
      &_small,
      &_big {
        img {
          max-width: 100%;
          margin-bottom: 28px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    //&_btn
    &_btn {
      padding-top: 50px;
      button {
        background-color: #5d5a88;
        border-radius: 45px;
        padding: 28px 56px;
        border: none;
        outline: none;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
      }
    }

    //Tablet
    @media screen and (max-width: 768px) {
      //&_heading
      &_heading {
        h6 {
          font-size: 30px;
        }
        p {
          width: 100%;
          font-size: 16px;
          line-height: 22px;
        }
      }

      //&_grid
      &_grid {
        grid-template-columns: 1fr;
        &_small,
        &_big {
          img {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 20px;
          }
        }
      }

      //&_btn
      &_btn {
        button {
          width: 100%;
          padding: 20px 0;
          font-size: 16px;
        }
      }
    }
  }
}
